;Input/Calculation Options:
  /PAS+			;Pascal assignment and comparison style (:= =) <-> (= ==)
  /SCI+			;Scientific numbers format (2k == 2000)
  /UPCASE+		;Case insensitive variables
  /FFLOAT+		;Forced float mode
  /IMUL+		;Implicit multiplication (2sin(x))

;Output Format Options:
  /ALL-        	;Show all output formats
  /DEG+			;Degrees format
  /SCF-   		;Scientific (6.8k) format
  /ENG-   		;Engineering (6k8) format
  /STR-			;String format 
  /HEX+			;Hex format
  /OCT-			;Octal format
  /FBIN+		;Binary format
  /DAT+			;Date time format
  /CHR+			;Char format
  /WCH-			;WChar format
  /ESC-			;Escape format
  /CMP-			;Computing format
  /UTM+			;Unix time format
  /NRM+			;Normalized output
  /IGR-   		;Integer output
  /UNS-   		;Unsigned output
  /FRC-   		;Fraction output
  /FRI-   		;Fraction inch output
  /FRH-			;Temperature
  /AUTO-  		;Auto output format

;Other Options:
  /BW=64     	;Binary width (default 64)